<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    </head>
    <body class="bg-info">
        <div class="container text-center">
            <div class="mt-5 col-md-12"></div>
            <table class="table table-striped table-light table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Password</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="representative:${representative}">
                        <td th:text="${representative.id}">Sales Representative Id</td>
                        <td th:text="${representative.name}">Sales Representative Name</td>
                        <td th:text="${representative.password}">Sales Representative Password</td>
                        <td th:text="${representative.email}">Sales Representative Email</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>